/* Base Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial, sans-serif ;
    /* outline: 1px solid red; */
}


img{
    width: 100px;
    margin-right: 5px;
}

header{
    padding: 0 100px;
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div{
    display: flex;
}

header img{
    width: 60px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .5fr .5fr 4fr;
}

input{
    background-color: #f5f5f4;
    border-radius: 1rem;
    font-size: 20px;
    width: 700px;
    padding: 5px
}
/* Sidebar Styling */
.sidebarContainer{
    background-color: #06b6d4;
    color: white;
    grid-column: 1;
    grid-row: 1 / 5;
}
.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 24px
}

.sidebar h1{
    margin-top: 21px;
}

.firstBlock{
    margin-top: 5vh;
    height: 300px;
}

.secondBlock{
    margin-top: 5vh;
    height: 100px;
}


.firstBlock,
.secondBlock{
    font-weight: bold;
    font-size: 24px;
}

.firstBlock li,
.secondBlock li{
    list-style: none;
    margin-top: 20px;
}

.firstBlock li:hover,
.secondBlock li:hover{
    text-decoration: underline;
    cursor: pointer;
}

i{
    font-size: 24px;
    width: 50px;
}

i:hover{
    cursor: pointer;
}
 
/* Main body Header Styling */
.contentHeader{
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid rgba(58, 53, 53, .5);
}

.contentHeader > div{
    display: flex;
    
}

.buttonMenu{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

button{
    border: none;
    outline: skyblue;
    font-size: 16px;
    color: white;
    background-color: #06b6d4;
    border-radius: 1rem;
    padding: 5px;
    width: 90px;
    box-shadow: 0 4px 2px -2px gray;
}

button:hover{
    background-color: #035361;
    cursor: pointer;
}


/* Main Body Styling */
.contentMain{
    display: grid;
    background-color: #f5f5f4;
    grid-column: 2 / 4;
    grid-template-columns: 4fr 1fr;
}


.carditemcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    justify-items: center;
}

.carditemcontainer h2{
    grid-column: 1 / 3;
    align-self: center;
    justify-self: start;
    margin-left: 60px;
}

.carditem{
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 200px;
    padding: 10px;
    border-left: 5px solid gold;
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 4px 2px -2px gray;

}

.carditem:hover{
    transform: scale(1.1);
}

.icons{
    justify-self: end;
    align-self: end;
}

.icons:hover{
    cursor: pointer;
}

/* Side Content Styling */
.sideContent{
    display: grid;
    align-items: center;
}

.trending{
    box-shadow: 0 4px 2px -2px gray;
}

.announcements{
    box-shadow: 0 4px 2px -2px gray;
}

.announcementBlocks{
    box-shadow: 0 2px 2px -2px gray;
    margin-top: 10px;

}

.contentContainer{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    height: 300px;
    padding: 15px;
    display: grid;
}




.sideContent h2{
    margin-bottom: 20px;
}

.trendingBlocks{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.trendingBlocks p{
    grid-column: 1 / 3;
}
